a.anchorjs-link {
  color: #42b983;
  font-weight: 400;
  text-decoration: none;
  transition: color 100ms ease-out;
  z-index: 999;
}
.book-summary ul.summary li.active > a,
.markdown-section a,
a.anchorjs-link:hover {
  color: #42b983;
}
.markdown-section code {
  background-color: #e9e9e9;
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
  font-weight: bold;
}

.markdown-section blockquote {
  border-left: 4px solid #f66;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
}
