a.anchorjs-link {
  color: #3eaf7c;
  font-weight: 400;
  text-decoration: none;
  transition: color 100ms ease-out;
  z-index: 999;
}

.book-summary ul.summary li.active>a,
.markdown-section a,
a.anchorjs-link:hover {
  color: #3eaf7c;
}

.markdown-section code {
  color: #476582;
  padding: .25rem .5rem;
  margin: 0;
  font-size: .85em;
  background-color: rgba(27, 31, 35, .05);
  border-radius: 3px;
}

.markdown-section blockquote {
  border-left: 4px solid #42b983;
}
.markdown-section blockquote[class^="info"] {
  border-left: 4px solid #42acf3;
}
.markdown-section blockquote[class^="danger"] {
  border-left: 4px solid #d9534f;
}
.markdown-section blockquote[class^="success"] {
  border-left: 4px solid #50af51;
}
.markdown-section blockquote[class^="warning"] {
  border-left: 4px solid #f0ad4e;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
}
